<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make a cat</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <form action='/new/cats' method='POST'>
        Cat Name: <input type='text' name='name'>
        Cat Age: <input type='text' name='age'>
        Cat Breed: <input type='text' name='breed'>
        Describe The Cat's Personality: <textarea name='personality'></textarea>
        <input type='submit' value='Post your cat!'>
    </form>
</body>
</html>